body {
	font: 12pt "Times New Roman", TimesNR, Times, serif;
}
#navlinks, #search, #post-archive, #tea-of-the-day img {
	display: none;
}
a img {
	border: 0;
}
#content img.illus {
	float: left;
	margin: 1em 1em 1em 0;
}
