#navlinks, #post-archive, #search, #tea-of-the-day img {
	display: none;
}

a img {
	border: 0;
}

h1, h2, h3, h4 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

#masthead {
	border-bottom: 1px solid #000;
}

#today {
	font-style: italic;
	text-align: right;
	margin: -1em 0 0.25em;
}

#content, #sidebar {
	margin: 0 5%;
}

#content {
	margin-bottom: 2.5em;
}

#content h1 {
	margin-left: -5%;
	margin-bottom: 1em;
}

#content img.illus {
	float: left;
	margin: 1em 1em 1em 0;
}

#tea-of-the-day {
	border: 3px double;
	text-align: center;
	padding: 0.5em;
	margin: 0 10%;
}

#tea-of-the-day h3, #tea-of-the-day h4 {
	margin: 0;
	font-size: 1em;
	display: inline;
}

#tea-of-the-day h3 {
	color: gray;
	border-right: 2px solid;
	margin-right: 1em;
	padding-right: 1em;
}

#tea-of-the-day p {
	margin: 0.5em 0 0;
}

#footer {
	border-top: 1px solid;
	margin-top: 2em;
	padding-top: 0.25em;
	font-style: italic;
	font-size: smaller;
	text-align: right;
	color: gray;
}

#footer p {
	margin: 0;
}