@charset 'UTF-8';
/*
 cores: #C5EBD6  #83E1AD #3DDC84 #2FA866 #063D1E
 */
 *{  /* uma estratégia de reset */
  margin:0;
  padding:0;
  border:0;
}
@font-face {
  font-family: 'IDroid';
  src:  url('../fontes/idroid.otf') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


header {
  background-image: linear-gradient(to bottom, rgba(61,220,132,1) 0%, rgba(6,61,30,1) 35%);
  margin: 0px;
}
header h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #FFF;
  text-shadow: .9px .8px 3 #000;
  margin-bottom: 10px;
  margin-top: 0px;
}
dd {
  text-align: center;
  margin-bottom: 50px;
  text-shadow: .5px .7px 0px rgba(32, 28, 28, 0.521);
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
nav {
  background-color: #063D1E;
  padding-top: 12px;
}
ul {
  height: 30px;
}
nav  a {
  text-decoration: none;
  color: rgb(255, 246, 246);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 8px;
  margin-top: 16px;
}
body {
  background-color: rgb(102, 214, 140);
}
main {
  background-color: rgb(255, 255, 255);
  width: 600px;
  padding: 18px;
  margin: 0px auto 0px auto;
}
h2, h3 {
  font-family: IDroid;
  color: rgb(13, 105, 75);
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.imgacomodada {
  width: 604px;
  height: auto;

}

#video {
  color: #063D1E;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px; 
  margin-left: -18px; 
}
#dir {
  background-color: rgb(173, 65, 65);
  margin: 0px;
  width: 564;
}

ul li::marker {
  color: #063D1E
  font-size: 1.5em;
}
