/* ------------- "generic" styles */

body {
	margin: 0; padding: 0;
	background: #E3EDC2; color: #333;
	font: small "Lucida Grande", Arial, sans-serif;
}

a {
	text-decoration: none;
}

a img {
	border: 0;
}

p {
	margin: 0 0 1em;
}

/* ------------- masthead styles */

#masthead {
	margin-bottom: 1.75em; padding-top: 1px;
	background: #ABD240;
}

#homelink {
	display: block;
	margin: 1em 2em 1em; padding: 2em 0 0.5em 1em;
	background: url(../images/curl.gif) 100% 100% no-repeat;
}

#navlinks {
	margin: 0; padding: 0.5em 3em;
	background: #686397; color: #FFF;
}
